div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

#header {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

#recipe{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
ul{
    list-style-type: circle;
}
body{
    background-color: turquoise;
}